body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button 
{
    cursor: pointer;
}

/* Link to the problem: https://www.hackerrank.com/challenges/js10-create-a-button?isFullScreen=true&hr_b=1/ */
